.label {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: #a0a0a0;
  padding: 0 0 10px;
}

.input-field {
  outline: none;
  border: none;
  background-color: #f9f9f9;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  padding: 15px;
}

.input-field:invalid:focus {
  border: 2px dashed indianred;
  color: indianred;
}

.input-field:valid {  
  border: none;
  outline: none;
  color: #000;
}
