.мovies {
  width: 100%;
  text-align: center;
}

.мovies_btn {
  width: 320px;
  min-height: 36px;
  margin: 25px 0 80px;
  border: none;
  border-radius: 6px;
  background-color: #f9f9f9;
  color: #000;
  cursor: pointer;
  outline: none;
  font-family: "Inter", "Arial", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
}

.мovies_btn:hover {
  background-color: #f2f2f2;
}

.мovies_btn_disabled {
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 775px) {
  .мovies__moviesCard_save-visible {
    visibility: visible;
  }

  .мovies__moviesCard_saved-visible {
    visibility: visible;
  }

  .мovies__moviesCardList {
    max-width: 708px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(235px, 1fr));
    column-gap: 30px;
    grid-row-gap: 47px;
  }

  .мovies__moviesCard {
    min-height: 235px;
    flex-wrap: wrap;
    padding: 0;
    background-color: #fff;
    justify-content: center;
  }

  .мovies__moviesCard-content {
    width: 339px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 25px;
    justify-content: space-between;
  }

  .мovies__moviesCard-image {
    width: 339px;
    height: 201px;
    order: -1;
  }

  .мovies__moviesCard_poster {
    width: 99%;
    border-radius: 6px;
    cursor: pointer;
  }

  .мovies__moviesCard-like-icon {
    display: none;
  }

  .мovies__moviesCard-name {
    font-size: 13px;
  }

  .мovies__moviesCard-duration {
    background-color: #f9f9f9;
    border-radius: 3px;
  }
}

@media screen and (max-width: 375px) {
  .мovies__moviesCardList {
    max-width: 300px;
  }

  .мovies__moviesCard-content {
    width: 300px;
    grid-column-gap: 8px;
    padding: 0 3px 0;
  }

  .мovies_btn {
    width: 240px;
    margin: 50px 0 80px;
  }
}
