.мovies {
  width: 100%;
  text-align: center;
}

.мovies__btn {
  width: 320px;
  min-height: 36px;
  margin: 25px 0 80px;
  width: 320px;
  min-height: 36px;
  margin: 25px 0 58px;
  border: none;
  border-radius: 6px;
  background-color: #f9f9f9;
  cursor: pointer;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
}

.мovies__btn:hover {
  background-color: #f2f2f2;
}

@media screen and (max-width: 775px) {
  .мovies__moviesCard_save-visible {
    visibility: visible;
  }

  .мovies__moviesCard_saved-visible {
    visibility: visible;
  }

  .мovies__moviesCardList {
    max-width: 708px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(231px, 1fr));
    column-gap: 30px;
    grid-row-gap: 47px;
  }

  .мovies__moviesCard {
    flex-wrap: wrap;
    padding: 0;
    background-color: #fff;
  }

  .мovies__moviesCard-content {
    width: 339px;
    display: grid;
    grid-template-columns: 250px 52px;
    column-gap: 25px;
    align-items: baseline;
    text-align: start;
  }

  .мovies__moviesCard-image {
    width: 339px;
    order: -1;
  }

  .мovies__moviesCard_poster {
    width: 100%;
    border-radius: 6px;
  }

  .мovies__moviesCard-like-icon {
    width: 0;
    height: 0;
  }

  .мovies__moviesCard-name {
    font-size: 13px;
  }

  .мovies__moviesCard-duration {
    background-color: #f9f9f9;
    border-radius: 3px;
  }
}

@media screen and (max-width: 320px) {
  .мovies__moviesCardList {
    max-width: 300px;
  }

  .мovies__moviesCard-content {
    grid-template-columns: 240px 52px;
    grid-column-gap: 8px;
  }

  .мovies__btn {
    width: 240px;
    margin: 50px 0 80px;
  }
}
