.article__content-title {
    margin: 0;
    font-weight: 400;
    line-height: 1.2;
    padding: 0 0 26px;
}

.article__content-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}