@import url(./fonts/inter.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Arial', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  max-width: 100vw;
}

/* section, 
button, 
a, 
p, 
h1, 
h2, 
h3, 
h4, 
h5, 
menu, 
nav,
ul,
li,
header, 
footer,
input,
label, img, div {
  outline: 1px solid red;
} */